<form [formGroup]="myFormGroup" [id]="formId" (submit)="submit()">

  <mat-tab-group>
    <mat-tab label="First">
      <ngx-forms [formId]="formId" [(ngModel)]="fields" [ngModelOptions]="{standalone: true}" [form]="myFormGroup"
                 (fieldsChanged)="fieldsChanged($event)"></ngx-forms>
    </mat-tab>

    <mat-tab label="Second">
      <ngx-forms [formId]="formId" [(ngModel)]="fields2" [ngModelOptions]="{standalone: true}" [form]="myFormGroup"></ngx-forms>
    </mat-tab>

  </mat-tab-group>

</form>

<button class="btn btn-primary" type="submit" [attr.form]="formId">Submit</button>

{{myFormGroup.value | json}}

